<div class="outsideborder">
  <div class="devise">

<h2>Create Account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="input-field"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="input-field"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="action">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

    <div class="getcoinbase">
      <%= render "devise/shared/links" %>
    </div>
